.simplegallery {
  width: 100%;
  margin-bottom: 50px;
}

.simplegallery .thumbnails {
  float:left;
  overflow: auto;
  width: 200px;
}

/* Hide the captions from the thumbnail nav */
.simplegallery .thumbnails dd { 
  display: none; 
}

.simplegallery .largeimage {
  float:left;
  margin: 0;
  padding: 0;
  width: 600px;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-position: top left;
}

.simplegallery img {
    margin: 0;
}

.simplegallery .clearboth {
  clear: both;
}

.simplegallery .simplegallerynavbar { 
  position: absolute;
  bottom: -50px;
  right: 0px;
  width: 100%;
}

.simplegallery .simplegallerynavbar ul {
  list-style-type: none !important;
  padding: 0;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
  width: 15em;
}

.simplegallery .simplegallerynavbar li {
  text-align: center;
  float: left;
  padding: 0.3em;
  width: 4em;
  height: 2em;
}

.simplegallery .simplegallerynavbar li a {
  display: block;
  text-decoration: none !important;
  font-size: 2em;
}

.simplegallery .simplegallerynavbar .disabled { 
  visibility: hidden;
}

.simplegallery .imagecaption {
    margin: 0;
}


/**** Begin Thumbnail Navigation ****/
.simplegallery .thumbnails.hasthumbnailscroll > div.gallerywrapper {
	overflow: hidden;
	float: left;
	width: 90%
}

.simplegallery .thumbnails.hasthumbnailscroll div.gallerywrapper div.gallery {
	min-width: 2000px; /* This number is automatically set using Javascript */
}

.simplegallery .thumbnails.hasthumbnailscroll .gallery dl.gallery-item {
	position: relative;
	left: 0;
}

.simplegallery .thumbnailscroll {
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	display: block;
	width: 5%;
	height: 100%; /* This number is automatically set using Javascript */
}

.simplegallery .thumbnailscroll.thumbnailscroll-prev {
	float: left;
	background-image: url(img/icon-prev.png);
}

.simplegallery .thumbnailscroll.thumbnailscroll-next {
	float: right;
	background-image: url(img/icon-next.png);
}
/**** End Thumbnail Navigation ****/